/* Simply gets ride of the hyperlink decoration */
a {
    text-decoration: none;
}

/* Adjusts the color scheme of header and elements and positioning of the elements within */
.header {
    padding:3rem;
    background-color: #64B425;
    color: #A6E377;
    border-bottom: 4px solid #005331;
}

.header h1{
    display: flex;
    font-size: 2.5rem;
    padding: 0.5rem;
    margin-left: 1rem;
}

.header img{
    display: flex;
    float: left;
    height: 8rem;
    margin-top: -2rem;
}

.header nav {
    float: right;
    display: flex;
    justify-content: space-between;
}

.header nav ul {
    list-style-type: none;
    margin-bottom: 2rem;
}

header nav ul li {
    display:inline-block;
    font-size: 1.2rem;
    margin-left: .5rem;
}

.header a {
    color:#2F6C00
}

/* color scheme for the rest of the page */
body{
    background-color: #389871 ;
    color: #005331;
}

/* adjusting to frame things slightly better on the page */
main{
    margin:2rem;
}

/* Section titles are moved to a column of their own on the left and adds a neat border break */
h2{
    font-size: 2.5rem;
    text-align: right;
    float:left;
    border-right: 2px dashed #64B425;
    min-width:12rem;
    max-width:12rem;
    margin: 10px;
}

/* formating and positioning the about me section */
.about-me{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.about-me p{
    flex-wrap: wrap;
    font-size: 1.5rem;
}

/*Formating and positioning of multiple elements in the work section. Adds the grid type layout */
.work {
    display:flex;
    margin-bottom: 3rem;
}

.work h2{
    text-align: right;
    flex-wrap: wrap;
}

h3{
    position: relative;
    font-size: 1.5rem;
    color: #80e433;
    margin:-5rem 0 0 4rem;
}

.image-full {
    position:relative;
    max-width: 100%;
    padding: 1rem;
    border: 2px solid #005331;
    margin: 1rem;
}

.image-half {
    position:relative;
    max-width: 100%;  
    padding: 1rem;
    margin: 1rem;
    border: 2px solid #005331;
}


.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* keeps box 1 larger than the others */
.box1{
    max-width: 100%;
    margin-bottom: 1rem;
}

/* Formats the smaller boxes to take up half of the space to have 2 rows and 2 columns */
.box2,
.box3,
.box4,
.box5 {
    max-width: 49%;
    margin: 1rem 0 1rem 0;
}

/* simple adjustment to keep things orderly */
.box2,
.box4{
    margin-right: 2%;
}

/* Positioning of the contact links */
.contact-me ul{
    text-align: center;
}

.contact-me li{
    display:inline-block;
    font-size: 1.5rem;
    margin:3rem;
}


/* media queries to help with formating of the page on devices with smaller viewports*/
@media screen and (max-width: 767px){
    .box2,
    .box3,
    .box4,
    .box5 {
        max-width: 100%;
        margin-right: 0;
    }

    h2{
        font-size: 1rem;
        max-width: 4rem;
        min-width: 4rem;
    }
}

@media screen and (max-width: 525px){
    .header nav{
        display:flex;
        justify-content: space-between;
        float:none
    }

    h3{
        font-size: 1rem;
    }
}